@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand:wght@300;400;700&family=Roboto+Slab:wght@200;400;700&display=swap');

/* ---------- GLOBAL ---------- */

body {
    font-family: 'Quicksand', 'Arial', sans-serif;
}

.page-title {
    font-family: 'Roboto Slab', 'Times New Roman', serif;
    text-align: center;
    padding: 5% 0 2%;
    margin: 2% 0 0px;
    font-size: 350%;
}

/* ---------- NAVBAR ---------- */

.navbar {
    /* from website https://mycolor.space/ */
    background-image: linear-gradient(to right, #ffb570, #ffad73, #fea576, #fb9d7a, #f8967e, #f39182, #ee8c86, #e88789, #e1828c, #d97e8f, #d07a92, #c67794);
    font-family: 'EB Garamond', 'Times New Roman', serif;
    padding: 3% 10%;
    color: white;
}

.navbar a {
    color: white;
}

.logo {
    position: relative;
    left: 5%;
}

.navbar-nav {
    font-size: 130%;
}

.center-nav {
    margin: auto;
    right: 5%;
    position: relative;
}

.center-nav a {
    margin: 0 5%;
}

.right-nav {
    position: relative;
    right: 5%;
}

.login-tablet {
    visibility: hidden;
}

/* ---------- FOOTER ---------- */

footer {
    font-family: 'EB Garamond', 'Times New Roman', serif;
    background-image: linear-gradient(to right, #ffb570, #ffad73, #fea576, #fb9d7a, #f8967e, #f39182, #ee8c86, #e88789, #e1828c, #d97e8f, #d07a92, #c67794);
    padding: 3% 10%;
    font-size: 130%;
    color: white;
}

#copyright {
    position: relative;
    left: 5%;
}

#social-media {
    position: relative;
    left: 5%;
    float: right;
    border-radius: 50%;
    width: 20%;
}

#social-media a {
    border-radius: 50%;
    border: none;
    margin: 0% 3%;
}

#social-media a:hover {
    background-color: #ffb570;
}

/* buttons from website https://mdbootstrap.com/docs/standard/navigation/footer/ */
.facebook {
    background-color: #3b5998;
}

.instagram {
    background-color: #dd4b39;
}

.twitter {
    background-color: #55acee;
}

/* ---------- HOME PAGE ---------- */

.home-description {
    text-align: center;
    font-family: 'Quicksand', 'Arial', sans-serif;
    font-size: 200%;
    margin-bottom: 5%;
}

.hero-image {
    width: 60%;
    position: relative;
    left: 20%;
    margin-bottom: 10%;
}

/* ---------- MENU PAGE ---------- */

.menu-row {
    justify-content: center;
}

.menu-card {
    border-radius: 10%;
    margin: 1% 1% 5%;
    text-align: center;
    color: white;
    background-color: #f18e84;
    height: 450px;
    padding: 0;
}

.image-block {
    height: 55%;
    border-radius: 10% 10% 0;
    background-color: #fff6e9;
}

.menu-image {
    position: relative;
    width: auto;
    height: 100%;
    border-radius: 10% 10% 0;
}

.info-block {
    height: 30%;
}

.info-item {
    width: 80%;
    position: relative;
    left: 10%;
    padding: 2%;
    margin-top: 5%;
}

.info-p {
    padding: 0;
}

.menu-buttons {
    height: 10%;
}

.menu-button {
    width: 25%;
}

.page-links {
    margin: 5%;
    justify-content: center;
}

.fa-circle-chevron-left {
    color: #ffb570;
}

.fa-circle-chevron-right {
    color: #ffb570;
}

/* ---------- ABOUT PAGE ---------- */

.about-description {
    margin: 2% 27%;
    font-size: 120%;
}

.about-container {
    width: 60%;
    position: relative;
    left: 20%;
    height: 500px;
    overflow: hidden;
    margin: 10% 0;
}

.about-item {
    font-size: 200%;
    margin: 13% 10% 13% 0;
    display: flex;
}

.about-item i {
    color: #ffb570;
    padding: 3% 4%;
}

.about-details {
    padding: 0 3%;
}

.map-container {
    overflow: hidden;
}

.map-container img {
    height: 500px;
}


/* ---------- MEDIA QUERIES ---------- */

/* For large screens size from 1700px wide and down */
@media screen and (max-width: 1700px) {

    .about-container {
        width: 70%;
        left: 15%;
    }

    .about-item {
        font-size: 190%;
    }
}

/* For large to medium screens size from 1300px wide and down */
@media screen and (max-width: 1300px) {
    .center-nav a {
        margin: 0 2%;
    }

    .info-item {
        font-size: 110%;
    }

    .info-p {
        font-size: 100%;
    }

    .menu-buttons {
        position: relative;
        top: 2%;
    }

    .info-container {
        width: 45%;
    }

    .about-item {
        font-size: 170%;
        margin: 20% 0;
    }

    .map-container {
        width: 55%;
    }
}

/* For medium screens size from 990px wide and down */
@media screen and (max-width: 990px) {

    .center-nav a {
        margin: 0;
        position: relative;
        left: 20%;
    }

    .login-pc {
        visibility: hidden;
    }

    .login-tablet {
        visibility: visible;
    }

    #social-media {
        width: 30%;
    }

    .home-description {
        margin: 5%;
    }

    .about-description {
        margin: 5% 20%;
        font-size: 120%;
    }

    .about-container {
        width: 70%;
        left: 15%;
        font-size: 95%;
    }

    .about-item i {
        padding: 3% 0%;
        width: 15%;
    }

    .map-container img {
        height: 400px;
    }
}

/* For medium screens size from 767px wide and down */
@media screen and (max-width: 767px) {

    .center-nav {
        right: 0;
    }

    .center-nav a {
        left: 5%;
    }

    .right-nav {
        right: 0;
        left: 5%;
    }

    .login-pc {
        visibility: visible;
    }

    .login-tablet {
        visibility: hidden;
    }

    #social-media {
        width: 40%;
    }

    .menu-card {
        width: 45%;
    }

    .menu-button {
        width: 30%;
    }

    .about-container {
        width: 80%;
        left: 10%;
        display: contents;
    }

    .info-container {
        width: 70%;
        position: relative;
        left: 20%;
        font-size: 90%;
    }

    .about-item {
        font-size: 190%;
        margin: 10% 0;
    }

    .map-container {
        width: 70%;
        position: relative;
        left: 15%;
        margin-bottom: 10%;
    }
}

/* For small screens size from 500px wide and down */
@media screen and (max-width: 500px) {
    footer {
        text-align: center;
        display: flow-root;
    }

    #copyright {
        left: 0;
    }

    #social-media {
        width: 100%;
        margin: 5%;
    }

    .menu-card {
        width: 75%
    }

    .about-description {
        margin: 10% 20%;
        font-size: 100%;
    }

    .info-container {
        width: 90%;
        position: relative;
        left: 15%;
        font-size: 80%;
    }

    .map-container {
        width: 90%;
        left: 5%;
    }
}

/* For small screens size from 320px wide and down */
@media screen and (max-width: 320px) {
    .info-container {
        width: 100%;
    }

    .map-container {
        width: 80%;
        left: 10%;
    }
}