@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand:wght@300;400;700&family=Roboto+Slab:wght@200;400;700&display=swap');

/* font-family: 'Quicksand', 'Arial', sans-serif; */
/* font-family: 'Roboto Slab', 'Times New Roman', serif; */

/* ---------- NAVBAR ---------- */

.navbar {
    /* from website https://mycolor.space/ */
    background-image: linear-gradient(to right, #ffb570, #ffad73, #fea576, #fb9d7a, #f8967e, #f39182, #ee8c86, #e88789, #e1828c, #d97e8f, #d07a92, #c67794);
    font-family: 'EB Garamond', 'Times New Roman', serif;
    padding: 3% 10%;
    color: white;
}

.navbar a {
    color: white;
}

.logo {
    position: relative;
    left: 5%;
}

.navbar-nav {
    font-size: 130%;
}

.center-nav {
    margin: auto;
    right: 5%;
    position: relative;
}

.center-nav a {
    margin: 0 5%;
}

.right-nav {
    position: relative;
    right: 5%;
}

/* ---------- FOOTER ---------- */

footer {
    font-family: 'EB Garamond', 'Times New Roman', serif;
    background-image: linear-gradient(to right, #ffb570, #ffad73, #fea576, #fb9d7a, #f8967e, #f39182, #ee8c86, #e88789, #e1828c, #d97e8f, #d07a92, #c67794);
    padding: 3% 10%;
    font-size: 130%;
    color: white;
}

#copyright {
    position: relative;
    left: 5%;
}

#social-media {
    position: relative;
    left: 5%;
    float: right;
    border-radius: 50%;
    width: 20%;
}

#social-media a {
    border-radius: 50%;
    border: none;
    margin: 0% 3%;
}

#social-media a:hover {
    background-color: #ffb570;
}

/* buttons from website https://mdbootstrap.com/docs/standard/navigation/footer/ */
.facebook {
    background-color: #3b5998;
}

.instagram {
    background-color: #dd4b39;
}

.twitter {
    background-color: #55acee;
}