{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}

<h1 class="menu-form">Reservation Form</h1>

<form class="menu-form" id="edit-reserve-form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form | crispy }}


    <a href="{% url 'userReservations' %}" class="back-link"><button type="button" class="form-button">Go
            Back</button></a>
    <button type="submit" class="form-button">Submit</button>

</form>

{% endblock %}