{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="page-title">Reservations</h1>
<p class="home-description">Reserve your table and never wait to eat again!</p>

<div>
    <form class="reservation-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form | crispy }}

        <div class="button-row">
            <button type="submit" class="col-md-2 reserve-button">Reserve Now</button>
            <a href="#"><button type="button" class="col-md-4 reserve-button">Login/Register to Edit
                    Reservations</button></a>
        </div>


    </form>

    <img src="{{ open_image.image.url }}" id="open-times-image"
        alt="an image displaying the open times for the restaurant">
</div>
{% endblock %}