{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="page-title">Reservations</h1>
<p id="descp-1" class="home-description">Reservations are only available for lunch time slots!</p>
<p class="home-description">You must be logged in to edit your reservations.</p>

<div>
    <form class="reservation-form" action="{% url 'reservations' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form | crispy }}

        <div class="button-row">
            <button type="submit" class="col-sm-6 col-md-2 reserve-button">Reserve Now</button>
            <a href="{% url 'user_reservations' %}" class="col-sm-4 col-md-2 reserve-button" id="reserve-link">Edit
                Reservations</a>
        </div>
    </form>

    <img src="{{ open_image.image.url }}" id="open-times-image"
        alt="an image displaying the open times for the restaurant">

    <div id="banner-container">
        <img src="{{ open_banner.image.url }}" id="open-times-banner"
            alt="an image displaying the open times for the restaurant">
    </div>

</div>
{% endblock %}