{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<main>
    <section class="section">
        <div class="container">
            <div class="row no-gutters-lg">
                <div class="col-12">
                    <h1 class="page-title">{{ post.title }}</h1>
                    <p class="home-description">{{ post.excerpt }}</p>
                </div>
                <div class="col-md-8 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <article class="card article-card">
                                <a href="#">
                                    <div class="card-image">
                                        <div class="post-info"> <span
                                                class="text-uppercase">{{ post.datepublished }}</span>
                                        </div>
                                        <img loading="lazy" decoding="async" src="{{ post.featured_image.url }}"
                                            alt="Post Thumbnail" class="w-100">
                                    </div>
                                </a>
                                <div class="card-body px-0 pb-1">
                                    <ul class="post-meta mb-2">
                                        <li> <a
                                                href="{% url 'blog_meal_tag' post.meal_type %}">{{ post.get_meal_type_display }}</a>
                                            <a
                                                href="{% url 'blog_dish_tag' post.dish_type %}">{{ post.get_dish_type_display }}</a>
                                        </li>
                                    </ul>
                                    <div class="meta-wrap" id="post-meta">
                                        <form action="{% url 'like_post' post.pk %}" method="post">
                                            {% csrf_token %}
                                            <p class="meta">
                                                <span><i
                                                        class="fa-solid fa-calendar-days"></i>{{ post.created_on }}</span>
                                                <span><i
                                                        class="fa-solid fa-user-pen"></i>{{ post.author | capfirst }}</span>

                                                <button type="submit" name="post_id" value="{{ post.id }}"><i
                                                        class="fa-solid fa-thumbs-up"></i></button>{{ post.number_of_likes }}

                                            </p>
                                        </form>
                                    </div>
                                </div>
                                {% if user.is_staff %}
                                <div class="blog-post-buttons">
                                    <a href="{% url 'edit_blog_post' post.id %}"><button type="submit"
                                            class="reserve-button">Edit</button></a>
                                    <a href="{% url 'delete_blog_post' post.id %}"><button type="submit"
                                            class="reserve-button">Delete</button></a>
                                </div>
                                {% endif %}
                                <div class="post-content">
                                    {{ post.content|safe }}
                                </div>
                            </article>
                            <div class="comments-section">
                                <div>
                                    <h3>Comments:</h3>
                                    {% if not post_comments %}
                                    <p>No comments, be the first to spark this conversation!</p>
                                    {% else %}
                                    {% for comment in post_comments %}
                                    {% if comment.approved %}
                                    <div class="card">
                                        <div class="comment-wrap">
                                            <div class="card-header">
                                                <div class="comment-author">
                                                    <h5>{{ comment.author | capfirst}} wrote:
                                                        {% if comment.author|stringformat:'s' == request.user.username|stringformat:'s' or user.is_staff %}
                                                        <span> <a href="{% url 'edit_blog_comment' comment.id %}"
                                                                class="btn btn-success comment-button">Edit</a>
                                                            <a href="{% url 'delete_blog_comment' comment.id %}"
                                                                class="btn btn-danger comment-button">Delete</a></span>
                                                        {% endif %}
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="comment-body">
                                                    <p>{{ comment.body }}</p>
                                                </div>
                                            </div>
                                            <p class="card-text"><small
                                                    class="text-muted">{{ comment.created_on }}</small></p>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="comment-input">
                                    <h3>Leave a comment: </h3>
                                    <form action="{% url 'blog_post' post.id %}" method="post" class="comments-form">
                                        {% csrf_token %}
                                        {{ comments|crispy }}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <button type="submit" class="reserve-button">Submit Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 sidebar ftco-animate pt-5">
                    <div class="sidebar-box pt-md-4">
                        <form action="{% url 'blog_search' %}" method="POST" class="search-form" id="recipes-search">
                            {% csrf_token %}

                            <div class="input-group mb-3">
                                <input type="search" name="recipe_name" id="recipe-input" class="form-control"
                                    placeholder="Enter Recipe Name Here..." aria-label="Recipe Name"
                                    aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3 class="sidebar-heading">Categories</h3>
                        <ul class="categories">
                            {% for value, text in dishes.dish_type.field.choices %}
                            {% if not forloop.first %}
                            <li><a href="{% url 'blog_dish_tag' value %}">{{ text }} </a></li>
                            {% endif%}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="sidebar-heading">Popular Articles</h3>
                        {% for post in posts %}
                        <div class="block-21 mb-4 d-flex">
                            <a href="{% url 'blog_post' post.id %}" class="blog-img mr-4"><img
                                    src="{{ post.featured_image.url }}" alt="" class="blog-img mr-4"></a>
                            <div class="text">
                                <h3 class="heading"><a href="{% url 'blog_post' post.id %}">{{ post.title }}</a>
                                </h3>
                                <div class="meta">
                                    <div><span class="icon-calendar"><i
                                                class="fa-solid fa-calendar-days"></i></span>{{ post.datepublished }}
                                    </div>
                                    <div><span class="icon-person"><i
                                                class="fa-solid fa-user-pen"></i></span>{{ post.author | capfirst }}
                                    </div>
                                    <div><span class="icon-chat"><i
                                                class="fa-solid fa-comment-dots"></i></span>{{ post.comments.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="sidebar-heading">Tag Cloud</h3>
                        <ul class="tagcloud">
                            {% for value, text in dishes.meal_type.field.choices %}
                            {% if not forloop.first %}
                            <li>
                                <a href="{% url 'blog_meal_tag' value %}" class="tag-cloud-link">{{ text }}</a>
                            </li>
                            {% endif%}
                            {% endfor %}
                            {% for value, text in dishes.dish_type.field.choices %}
                            {% if not forloop.first %}
                            <li>
                                <a href="{% url 'blog_dish_tag' value %}" class="tag-cloud-link">{{ text }}</a>
                            </li>
                            {% endif%}
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}