{% extends 'base.html' %}
{% block content %}
<main>
    <section class="section">
        <div class="container">
            <div class="row no-gutters-lg">
                <div class="col-12">
                    <h1 class="page-title">Our Recipes</h1>
                    <p class="home-description">The simple pleasures of Portuguese cuisine in your home.</p>
                </div>
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="row">
                        {% for recipe in recipes %}
                        <div class="col-12 mb-4">
                            <article class="card article-card">
                                <a href="{% url 'blog_post' recipe.id %}">
                                    <div class="card-image">
                                        <div class="post-info"> <span
                                                class="text-uppercase">{{ recipe.datepublished }}</span>
                                        </div>
                                        <img loading="lazy" decoding="async" src="{{ recipe.featured_image.url }}"
                                            alt="Post Thumbnail" class="w-100">
                                    </div>
                                </a>
                                <div class="card-body px-0 pb-1">
                                    <ul class="post-meta mb-2">
                                        <li> <a
                                                href="{% url 'blog_meal_tag' recipe.meal_type %}">{{ recipe.get_meal_type_display }}</a>
                                            <a
                                                href="{% url 'blog_dish_tag' recipe.dish_type %}">{{ recipe.get_dish_type_display }}</a>
                                        </li>
                                    </ul>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i
                                                    class="fa-solid fa-calendar-days"></i>{{ recipe.created_on }}</span>
                                            <span><i
                                                    class="fa-solid fa-user-pen"></i>{{ recipe.author | capfirst }}</span>
                                            <span><i
                                                    class="fa-solid fa-thumbs-up"></i>{{ recipe.number_of_likes }}</span>
                                        </p>
                                    </div>
                                    <h2 class="h1"><a class="post-title"
                                            href="{% url 'blog_post' recipe.id %}">{{ recipe.title }}</a></h2>
                                    <p class="card-text">{{ recipe.excerpt }}</p>
                                    <div class="content"> <a class="read-more-btn"
                                            href="{% url 'blog_post' recipe.id %}">Read Full
                                            Article</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-4 sidebar ftco-animate pt-5">
                    <div class="sidebar-box pt-md-4">
                        <form action="" method="POST" class="search-form" id="recipes-search">
                            {% csrf_token %}

                            <div class="input-group mb-3">
                                <input type="search" name="recipe_name" id="recipe-input" class="form-control"
                                    placeholder="Search Recipes Here..." aria-label="Recipe Name"
                                    aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="submit"
                                    id="button-addon2">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3 class="sidebar-heading">Categories</h3>
                        <ul class="categories">
                            {% for value, text in dishes.dish_type.field.choices %}
                            {% if not forloop.first %}
                            <li><a href="{% url 'blog_dish_tag' value %}">{{ text }} </a></li>
                            {% endif%}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="sidebar-heading">Popular Articles</h3>
                        {% for comment in comments %}
                        <div class="block-21 mb-4 d-flex">
                            <a href="{% url 'blog_post' comment.id %}" class="blog-img mr-4"><img
                                    src="{{ comment.featured_image.url }}" alt="" class="blog-img mr-4"></a>
                            <div class="text">
                                <h3 class="heading"><a href="{% url 'blog_post' comment.id %}">{{ comment.title }}</a>
                                </h3>
                                <div class="meta">
                                    <div><span class="icon-calendar"><i
                                                class="fa-solid fa-calendar-days"></i></span>{{ comment.datepublished }}
                                    </div>
                                    <div><span class="icon-person"><i
                                                class="fa-solid fa-user-pen"></i></span>{{ comment.author | capfirst }}
                                    </div>
                                    <div><span class="icon-chat"><i
                                                class="fa-solid fa-comment-dots"></i></span>{{ comment.comments.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="sidebar-heading">Tag Cloud</h3>
                        <ul class="tagcloud">
                            {% for value, text in dishes.meal_type.field.choices %}
                            {% if not forloop.first %}
                            <a href="{% url 'blog_meal_tag' value %}" class="tag-cloud-link">{{ text }}</a>
                            {% endif%}
                            {% endfor %}
                            {% for value, text in dishes.dish_type.field.choices %}
                            {% if not forloop.first %}
                            <a href="{% url 'blog_dish_tag' value %}" class="tag-cloud-link">{{ text }}</a>
                            {% endif%}
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}