{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1 class="menu-form">Current Registered Users</h1>

<table class="comments-table" id="users-table">
    <tr>
        <th class="large-width">Name: </th>
        <th>Username: </th>
        <th class="medium-width">Email: </th>
        <th class="large-width">Date Registered: </th>
    </tr>
    {% for profile in profiles %}
    <tr>
        <td class="large-width">{{ profile.name }}</td>
        <td>{{ profile.username }}</td>
        <td class="medium-width">{{ profile.email }}</td>
        <td class="large-width">{{ profile.created_on }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}